# ignore virtual environment
kg-demo-venv

# ignore compiled files of mln.cpp
tzkg/reasoners/mln/mln

# ignore test dataset and pytest
test-data
testing

# ignore experiments output

# ignore cache
**/__pycache__/
**/pytest_cache