# ignore virtual environment
kg-demo-venv

# ignore compiled files of mln.cpp
tzkg/reasoners/mln/mln

# ignore test dataset and pytest
test-data
# testing
linan_testdata/
**/test_output

# ignore experiments output

# ignore cache
**/__pycache__/
**/pytest_cache
.ipynb_checkpoints/

# ignore vscode config
.vscode